* {
    margin: 0;
    padding: 0;
    font-family: "Mukta", sans-serif;
    font-weight: 500;
    font-style: normal;
    
}

@media screen and (max-width: 790px) {


    .nav-items {
        display: none;
    }

    ul {
        margin-top: 10px;
        justify-content: center;
    }

    .search {
        margin: 10px 0;
    }

    .btn {
        width: 35%;
        display: block; 
        margin: 0 auto; 
        text-align: center; 
    }

    .text1 {
        line-height: 1.2;
        font-size: 1.6rem;
        width: 80%;
        margin: 20px auto;
        text-align: center;
        color: white;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .text2 {
        font-size: 16px;
        margin: 20px auto;
        text-align: center;
        color: #f0f0f0;
        width: 80%;
    }
    .search{
        margin: 40px;
    }

    .bg {
    height: 70vh;
    background-image: url(/static/IMG/cover.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f0f0f0;   
}
    .img{
        height: 120px;
    }
    .img2{
        height: 120px;
    }
}

nav {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.logo-txt{
    font-size: 20px;
}


ul {
    margin: 0px 40px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}


.search {
    margin: 0px 50px;
}

.bg {
    height: 90vh;
    background-image: url('/static/IMG/cover.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f0f0f0;
}

.main-text {
    margin: 0px 50px;
}

.text1 {
    font-size: 30px;
    line-height: 1.5;
    width: 40%;
    margin: 20px;
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}

.text2 {
    color: #f0f0f0;
    font-size: 20px;
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 40%;
}

.btn {
    border-radius: 20px;
    background-color: white;
    margin-left: 20px;
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
    font-weight: 700;
    transition: all 1s ease-out; 
    width: 40%;
    margin: auto;
}

.btn:hover {
    filter: invert(1);
}

.section-heading {
    font-size: 2.5rem;
    margin: 20px;
    font-weight: 350;
    margin-left: 83px;
}


.img{
    object-fit: cover;
    height: 400px;
}
.img3{
    object-fit: cover;
    height: 300px;
    min-width: 400px;
    max-width: 400px;
}

.img2 {
    object-fit: cover;
    height: 170px;

}

.flex-items {
    margin: 20px;
}


.prod-name {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1;
}
.prod-name1 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
}
.prod-amt1 {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1;
}

.hov {
    margin-right: 50px;
    transition: all 0.2s ease-in-out;
}

.hov2 {
    transition: all 0.2s ease-in-out;
}

.hov:hover {
    background-color: #f0f0f0;
}

.hov2:hover {
    scale: 1.1;
}


.cat-name{
    height: 40vh;
    background-color: #cbe8f0;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
#productCategory{
    margin: 20px 83px;
    border-radius: 20px;
    font-size: 1.5rem;
    padding: 0px 50px;
    font-weight: 100;
    display: block;
    margin: 30px auto;
}

.scale{
    transition: transform 0.3s ease-in-out;
}

.scale:hover {
    transform: scale(1.6);
}
.opacity {
    transition: opacity 0.3s ease-in-out;
}

.opacity:hover {
    opacity: 0.6;
}


.logo-txt {
    position: relative;
    bottom: 5px;
}
.footer {
    margin-top: 30px;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0px;
    bottom: 0;
    width: 100%;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}